<h1>Welcome To My Solar Garden's Privacy Page</h1>
<h5>My Solar Garden is a group project that is being undertaken by the Back End Engineering Students at the Turing
    School of Software and Design</h5>
<br>
<div>
    <h3>Privacy Notice:</h3>
    <ul>
        <li>With your authorization, My Solar Garden will only access the following information from Google: contacts,
            google user id, first name, last name, and email.</li>
        <li>Your Google Contacts will not be stored or shared with any other entity.</li>
        <li>The rest of your information will be used to create a user profile for you on My Solar Garden.</li>
    </ul>
</div>