<center>
  <div class="text-primary">
    <p class="w3-justify">
      <h1>Welcome To My Solar Garden's Privacy Page</h1><br>
      <h5>My Solar Garden is a group project that is being undertaken by the Back End Engineering Students at the Turing
        School of Software and Design</h5>
  </div>
  <br>
  <br>
  <div class='text-primary'>
      <h3><u>Privacy Notice:</u></h3><br>
      <ul>
          <li> With your authorization, My Solar Garden will only access the following information from Google: contacts,
              google user id, first name, last name, and email.</li>
          <li>Your Google Contacts will not be stored or shared with any other entity.</li>
          <li>The rest of your information will be used to create a user profile for you on My Solar Garden.</li>
      </ul>
  </div>
  <br>
  <br>
  <div class="btn-primary btn">
    <%= link_to "Back to Welcome", root_path %>
  </div>
  </p>
</center>
