<center>
  <section class='profile text-primary card'>
    <div class="card-header"><h1>Your Information</h1></div>
    <ul>
      <br>
      <li class='id'> Your User ID#: <%= current_user.id %></li>
      <li class='email'> Email: <%= current_user.email %></li>
    </ul>
    <br>
    <%= button_to 'Update Profile', edit_user_path(current_user.id), method: :get, :class => "btn btn-primary" %>
    <br><br>
    <%= button_to 'Delete Profile', "/users/#{current_user.id}", method: :delete, :class => "btn btn-primary" %><br>
    <p>** Note: Deleting your profile will also delete your gardens and all associated data that have been collected or entered in. Be sure you want to delete before hitting button.</p>
  </section>
</center>
