
<%= link_to edit_garden_path(garden.id) do %>
  <span class="fa fa-edit fa-2x icon"></span>
<% end %>

<%= link_to garden_destroy_path(garden.id), method: :delete, data: { confirm: "Are you sure that you'd like to delete this garden" } do %>
  <span class="fa fa-trash fa-2x icon"></span>
<% end %>