<div class="w3-panel">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <%= link_to "Login with Google", "/auth/google_oauth2", class: "w3-btn w3-blue-grey w3-block" %>
</div>

<div class="w3-panel w3-pale-blue w3-block">
  <h4 >Login with Google to:</h4>
  <p class="w3-justify w3-center ">
    - Set up a garden - <br>
    - Track your sensor data - <br>
    - Connect with your community - <br>
    - Track your garden's carbon impact - <br>
    - Track the health of your plants and soil -
  </p>
</div>
