<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The App description Section -->
  <div class="w3-container w3-content w3-center " style="max-width:950px" id="app_info">
    <h2 class="w3-wide">My Solar Garden Project</h2>
    <p class="w3-opacity"><i>We love the planet</i></p>
    <p class="w3-justify">
      My Solar Garden is an impact driven app here to support you in helping to keep our planet thriving.  By signing up with My Solar Garden, you will be able to track your personal garden's health, as well as your personal carbon impact.<br><br>

      My Solar Garden can give you daily updates as to how much moisture and light it's receiving.  It will also provide cultivating innovative regenerative ideas for how to get your garden healthy and thriving to continue to make a positive impact on our environment.<br><br>

      My Solar Garden also allows you to see the growing community of Solar Gardeners, as well as their carbon impact.<br><br>

      We want to live in balance with the diversity of our environment.  It all starts with healthy soil, and that's what we will help you learn how to cultivate. It starts with one person.<br><br>

      That person, is you.
    </p>
  </div>

  <!-- Automatic Slideshow Images -->
  <% images = ['ESOXGPn', 'JZzjPUH', 'y8P9c7q', '5gjnhlp', 'Yl4Zwic', 'Ewyct7X', 'E9nPGky', 'r1IZlFr', '43ja22n', 'v2jd9mo', 'rjBlkqp', 'yxPE2zw', 'vxkPqcp', 'RCxvJMX', '4EOtT70', 'MbOwjJK', 'LidCyvh', 'n4Rlajh', 'TiNcO3V', 'ORgmfoY', 'IqmfCSG','uf6q7DV']%>

  <% images.each do |image|  %>
    <div class="mySlides w3-display-container w3-center">
      <img src=<%= "https://i.imgur.com/#{image}.jpg" %> style="width:916px">
    </div>
  <% end %>

<!-- Clickable buttons -->
  <div class="w3-container w3-content w3-center">
    <div class="w3-row w3-padding-32" >

<!-- Visit the Learn More page button -->
      <div class="w3-panel">
        <%= link_to "Be The Change. Learn More", "/learn_more", class: "w3-btn w3-light-green w3-block" %>
      </div>

<!-- Login with Google button -->
      <% if current_user.nil? %>
        <%= render 'shared/login_with_google_button' %>
      <% end %>
    </div>
  </div>
</div>
<script>

// Automatic Slideshow - change image every 6 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 6000);
}
</script>
