<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The App description Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:950px" id="app_info">
    <h2 class="w3-wide">My Solar Garden Project</h2>
    <p class="w3-opacity"><i>We love the planet</i></p>
    <p class="w3-justify">Here is where all of the amazing things we would like to say about our app will go.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <!-- Automatic Slideshow Images -->
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/ESOXGPn.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/kH35Q3r.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/JZzjPUH.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/y8P9c7q.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/5gjnhlp.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/Yl4Zwic.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/Ewyct7X.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/E9nPGky.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/r1IZlFr.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/43ja22n.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/v2jd9mo.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/rjBlkqp.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/yxPE2zw.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/vxkPqcp.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/RCxvJMX.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/4EOtT70.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/MbOwjJK.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/LidCyvh.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/n4Rlajh.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/TiNcO3V.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/ORgmfoY.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/IqmfCSG.jpg" style="width:916px">
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="https://i.imgur.com/uf6q7DV.jpg" style="width:916px">
  </div>

<!-- Clickable buttons -->
  <div class="w3-container w3-content w3-center">
    <div class="w3-row w3-padding-32" >

<!-- Login with Google button -->
      <div class="w3-panel">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <%= link_to "Login with Google", "/auth/google_oauth2", class: "w3-btn w3-blue-grey w3-block" %>
      </div>

<!-- Visit the Learn More page button -->
      <div class="w3-panel">
        <%= link_to "Be The Change. Learn More", "/learn_more", class: "w3-btn w3-light-green w3-block" %>
      </div>

    </div>
  </div>
</div>
<script>

// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 6000);
}
</script>
</body>
</html>
