---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=d56c5a1373ab072efa767c9937038b8e&exclude=minutely,hourly&lat=3.0&lon=3.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":3,"lon":3,"timezone":"Etc/GMT","timezone_offset":0,"current":{"dt":1604604980,"sunrise":1604554292,"sunset":1604597499,"temp":79.79,"feels_like":83.79,"pressure":1012,"humidity":85,"dew_point":74.88,"uvi":11.73,"clouds":100,"visibility":3296,"wind_speed":11.16,"wind_deg":188,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"rain":{"1h":3.38}},"daily":[{"dt":1604574000,"sunrise":1604554292,"sunset":1604597499,"temp":{"day":81.36,"min":79.79,"max":81.66,"night":80.28,"eve":79.79,"morn":81.1},"feels_like":{"day":85.05,"night":84.51,"eve":84.27,"morn":86.61},"pressure":1010,"humidity":80,"dew_point":74.86,"wind_speed":11.41,"wind_deg":178,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":96,"pop":1,"rain":17.89,"uvi":11.73},{"dt":1604660400,"sunrise":1604640699,"sunset":1604683898,"temp":{"day":80.58,"min":80.58,"max":81.19,"night":81.18,"eve":81.16,"morn":80.78},"feels_like":{"day":84.27,"night":85.17,"eve":85.93,"morn":84.27},"pressure":1011,"humidity":83,"dew_point":75.02,"wind_speed":11.74,"wind_deg":210,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":78,"pop":1,"rain":3.81,"uvi":12.48},{"dt":1604746800,"sunrise":1604727107,"sunset":16[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=d56c5a1373ab072efa767c9937038b8e&exclude=minutely,hourly&lat=3.0&lon=3.0&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":3,"lon":3,"timezone":"Etc/GMT","timezone_offset":0,"current":{"dt":160461[...]
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/?lat=3.0&lon=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Nov 2020 23:02:46 GMT
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/forecast?lat=3.0&lon=3.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d1b692ffa33bd436b228f8a54c211977"
    body:
      encoding: UTF-8
      string: '{"data":{"id":null,"type":"weather","attributes":{"id":null,"description":"overcast
        clouds","humidity":81,"temperature":80.89,"daily":[{"date":"2020-11-05T11:00:00.000+00:00","temperature":81.36,"humidity":80,"description":"heavy
        intensity rain"},{"date":"2020-11-06T11:00:00.000+00:00","temperature":80.58,"humidity":83,"description":"moderate
        rain"},{"date":"2020-11-07T11:00:00.000+00:00","temperature":80.62,"humidity":81,"description":"light
        rain"},{"date":"2020-11-08T11:00:00.000+00:00","temperature":81,"humidity":76,"description":"scattered
        clouds"},{"date":"2020-11-09T11:00:00.000+00:00","temperature":80.91,"humidity":78,"description":"moderate
        rain"},{"date":"2020-11-10T11:00:00.000+00:00","temperature":80.4,"humidity":81,"description":"moderate
        rain"},{"date":"2020-11-11T11:00:00.000+00:00","temperature":80.62,"humidity":81,"description":"moderate
        rain"},{"date":"2020-11-12T11:00:00.000+00:00","temperature":81.5,"humidity":76,"description":"moderate
        rain"}]}}}'
  recorded_at: Thu, 05 Nov 2020 23:21:27 GMT
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/gardens/248
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a2e291f7e37ebce60816208b2a37c76"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"248","type":"garden","attributes":{"latitude":41.0,"longitude":86.0,"name":"Onion
        Garden","description":"Boggest onions in the land","private":false},"relationships":{"user_gardens":{"data":[{"id":"241","type":"user_garden"}]},"users":{"data":[{"id":"10","type":"user"}]},"sensors":{"data":[{"id":"101","type":"sensor"},{"id":"89","type":"sensor"}]},"garden_plants":{"data":[{"id":"77","type":"garden_plant"}]},"plants":{"data":[{"id":"18","type":"plant"}]}}}}'
  recorded_at: Wed, 18 Nov 2020 23:44:16 GMT
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/gardens/248/sensors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c14d7f4e35553dedb0e5556daf86bc3a"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"101","type":"sensor","attributes":{"min_threshold":6,"max_threshold":7,"sensor_type":"light"},"relationships":{"garden":{"data":{"id":"248","type":"garden"}},"garden_healths":{"data":[{"id":"362","type":"garden_health"},{"id":"364","type":"garden_health"},{"id":"366","type":"garden_health"},{"id":"368","type":"garden_health"},{"id":"370","type":"garden_health"},{"id":"372","type":"garden_health"},{"id":"374","type":"garden_health"},{"id":"376","type":"garden_health"},{"id":"378","type":"garden_health"},{"id":"380","type":"garden_health"},{"id":"382","type":"garden_health"},{"id":"384","type":"garden_health"},{"id":"386","type":"garden_health"},{"id":"388","type":"gar[...]
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/garden_healths/362
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"babbdaabb09e29a2f1ed5a92990d01b7"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"362","type":"garden_health","attributes":{"id":362,"reading_type":"light","reading":293.0,"created_at":"2020-11-06T15:34:42.012Z"}}}'
  recorded_at: Wed, 18 Nov 2020 23:44:16 GMT
[...]
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/sensors/89/garden_healths/last
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"889457145d227936960fd3c4ea741e40"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"435","type":"garden_health","attributes":{"id":435,"reading_type":"moisture","reading":25.0,"created_at":"2020-11-06T15:36:33.113Z"}}]}'
  recorded_at: Wed, 18 Nov 2020 23:44:43 GMT
[...]
- request:
    method: get
    uri: https://solar-garden-be.herokuapp.com/api/v1/gardens/248/plants
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ff1fc7844505c74735092704b6068424"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJkYXRhIjpbeyJpZCI6IjE4IiwidHlwZSI6InBsYW50IiwiYXR0cmlidXRlcyI6eyJpbWFnZSI6I[...]
