/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require c3
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";
@import "font-awesome";
@import "theme";

// .solar-nav {float: right}
body {
  font-family: "Lato", sans-serif;
  background-color: aliceblue;
}
.mySlides {display: none}

.plant-show {
   margin-left: auto;
   margin-right: auto;
   width: 8em
}
.col-sm-4 {
  border-style: solid;
}

.row {
  // display: block;
  margin-inline-end: auto;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #03adfc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0c8dc9;
}

ul {
  list-style-type: none;
}

.icon {
  margin: 5px;
}

// .card {
//   margin-bottom: 20px;
// }
//
// .card img {
//   width: 100%;
//   padding: 0px;
// }
//
// .card-body {
//   padding: 15px;
// }

#welcome-logo {
  // width: 60%;
}

.garden-info {
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}

.garden-image {
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.garden-plants {
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}

.garden-sensors {
  margin-bottom: 20px;
  padding: 15px;
  padding-bottom: 40px;
}

.profile {
  padding-top: 10px;
  margin-bottom: 20px;
  width: 40%;
  padding-bottom: 10px;
}

.new-garden {
  margin-bottom: 20px;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#chart {
  width: 70%;
}
#chart2 {
  width: 70%;
}

#readings {
  display: none;
}
#previous_readings {
  display: none;
}
#sensor_type {
  display: none;
}

.img-60 {
  max-width: 60%;
  height: auto;
}

.img-80 {
max-width: 80%;
height: auto;
}

.pad-25-top {
  padding-top: 25px;
}

.pad-50-bottom {
  padding-bottom: 50px;
}

.garden-card {
  width: 20rem;
  border: solid 1px #999;
  // box-shadow:  0 0 10px  rgba(0,50,0,0.6);
  // -moz-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -webkit-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -o-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.weather-card {
  // width: 20rem;
  border: solid 1px #999;
  // box-shadow:  0 0 10px  rgba(0,50,0,0.6);
  // -moz-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -webkit-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -o-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  border-radius:15px;
}

.sensor-card {
  width: 20rem;
  border: solid 1px #999;
  // box-shadow:  0 0 10px  rgba(0,50,0,0.6);
  // -moz-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -webkit-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  // -o-box-shadow: 0 0 10px  rgba(0,50,0,0.6);
  border-radius:15px;
}
.pad-10 {
  padding: 10px;
}

.margin-30-bottom {
  margin-bottom: 30px;
}

.card-columns .card {
  padding: 0 !important;
}

.float-right {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.float-left {
  float: left;
  margin-left: 25px;
  margin-top: 25px;
}

.list-group-item {
  border: 0;
}
